
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<h2>Index</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-primary" id="menu">
                <div class="panel-body">
                    <table class="table table-bordered table-hover">
                        <tr><td><input type="button" class="btn btn-primary" id="lblPMT" value="PAYMENTS" /></td></tr>
                        <tr><td><input type="button" class="btn btn-primary" id="lblPMT1" value="PAYMENTS" /></td></tr>
                        <tr><td><input type="button" class="btn btn-primary" id="lblPMT2" value="PAYMENTS" /></td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-danger ab" id="ADD_PMT" hidden>
                <div class="panel-heading">PAYMENT ENTRY</div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <td>REF. NO:</td>
                            <td><input type="text" class="form-control" id="txtREF" /></td>
                            <td>DATE:</td>
                            <td><input type="date" class="form-control" id="txtDT" /></td>
                        </tr>
                        <tr>
                            <td>PROJECT NAME:</td>
                            <td colspan="3"><input type="text" class="form-control" id="txtPROJ" /></td>
                        </tr>
                        <tr>
                            <td>ACCOUNT:</td>
                            <td><input type="text" class="form-control" id="txtACC" /></td>
                            <td>ACCOUNT TYPE:</td>
                            <td><input type="text" class="form-control" id="txtACCTP" /></td>
                        </tr>
                        <tr>
                            <td>PAID TO / FOR:</td>
                            <td><input type="text" class="form-control" id="txtPARTY" /></td>
                            <td>PAYMENT TYPE:</td>
                            <td><input type="text" class="form-control" id="txtPTYPE" /></td>
                        </tr>
                        <tr>
                            <td>AMOUNT:</td>
                            <td><input type="number" step="any" class="form-control" id="txtAMT" /></td>
                            <td>REMARKS:</td>
                            <td><input type="text" class="form-control" id="txtREM" /></td>
                        </tr>
                        <tr><td colspan="4"><input type="button" class="btn btn-success" id="btnPMT" value="Save" /><input type="button" class="btn btn-success" id="btnCAN" value="Cancel" /></td></tr>
                    </table>
                </div>
            </div>
            <div class="panel panel-success ab" id="EDT_PMT" hidden>
                <div class="panel-heading">ADJUSTMENTS</div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <td>REF. NO:</td>
                            <td><input type="text" class="form-control" id="txtREF1" /></td>
                            <td>DATE:</td>
                            <td><input type="date" class="form-control" id="txtDT1" /></td>
                        </tr>
                        <tr>
                            <td>PROJECT NAME:</td>
                            <td colspan="3"><input type="text" class="form-control" id="txtPROJ1" /></td>
                        </tr>
                        <tr>
                            <td>ACCOUNT:</td>
                            <td><input type="text" class="form-control" id="txtACC1" /></td>
                            <td>ACCOUNT TYPE:</td>
                            <td><input type="text" class="form-control" id="txtACCTP1" /></td>
                        </tr>
                        <tr>
                            <td>PAID TO / FOR:</td>
                            <td><input type="text" class="form-control" id="txtPARTY1" /></td>
                            <td>PAYMENT TYPE:</td>
                            <td><input type="text" class="form-control" id="txtPTYPE1" /></td>
                        </tr>
                        <tr>
                            <td>AMOUNT:</td>
                            <td><input type="number" step="any" class="form-control" id="txtAMT1" /></td>
                            <td>REMARKS:</td>
                            <td><input type="text" class="form-control" id="txtREM1" /></td>
                        </tr>
                        <tr><td colspan="4"><input type="button" class="btn btn-success" id="btnPMT1" value="Save" /><input type="button" class="btn btn-success" id="btnCAN1" value="Cancel" /></td></tr>
                    </table>
                </div>

            </div>
            <div class="panel panel-warning ab" id="DAY-REP" hidden>
                <div class="panel-heading">DAILY REPORT</div>
                <div class="panel-body">
                    <table id="jqGrid"></table>
                    <div id="jqGridPager"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<li><a href="@Url.Action("Create", "DBENTRY")">Create</a></li>

<link href="~/Content/Theme/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />


@section scripts{
    <script src="~/Scripts/jqGrid/grid.locale-en.js"></script>
    <script src="~/Scripts/jqGrid/jquery.jqGrid.min.js"></script>
    <script>
        $(document).ready(function () {
            $(function () {
                $grid = $("#jqGrid").jqGrid({
                    url: '@Url.Action("getData", "DBENTRY")',
                    mtype : 'GET',
                    datatype: 'json',
                    colModel: [
                        { label: 'ID', name:'ID'},
                        { label: 'USERN', name: 'USERN' },
                        { label: 'PASS', name: 'PASS' },
                        { label: 'FNAME', name: 'FNAME' },
                        {label: 'LNAME', name:'LNAME'}
                    ],
                    loadonce: true,
                    pager: '#jqGridPager',
                    viewrecords: true
                });
                $("#jqGrid").jqGrid('navGrid', '#jqGridPager', {edit:false, add:false, del:false});
            });
            $("#lblPMT").click(function () {
                $('.ab').hide();
                $("#ADD_PMT").show();
                $("#menu :input").prop("disabled", true);
            });
            $("#lblPMT1").click(function () {
                $('.ab').hide();
                $("#EDT_PMT").show();
                $("#menu :input").prop("disabled", true);
            });
            $("#lblPMT2").click(function () {
                $('.ab').hide();
                $("#DAY-REP").show();
            });
            $("#btnCAN").click(function () {
                $('.ab').hide();
                $("#menu :input").prop("disabled", false);
                $('.ab').find('input:text').val('');
            });
            $("#btnCAN1").click(function () {
                $('.ab').hide();
                $("#menu :input").prop("disabled", false);
                $('.ab').find('input:text').val('');
            });
        });
    </script>
}




