
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    

<h2>Index</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <table class="table table-bordered table-hover">
                        <tr><td><input type="button" class="btn btn-primary" id="lblPMT" value="PAYMENTS"/></td></tr>
                        <tr><td>ADJUSTMENTS</td></tr>
                        <tr><td>REPORTSS</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-danger" id="ADD_PMT" hidden>
                <div class="panel-heading">PAYMENT ENTRY</div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <td> <label for="txtREF">REF. NO:</label></td>
                            <td><input type="text" class="form-control" id="txtREF" /></td>
                            <td>DATE:</td>
                            <td><input type="date" class="form-control" id="txtDT" /></td>
                        </tr>
                        <tr>
                            <td>PROJECT NAME:</td>
                            <td colspan="3"><input type="text" class="form-control" id="txtPROJ" /></td>
                        </tr>
                        <tr>
                            <td>ACCOUNT:</td>
                            <td><input type="text" class="form-control" id="txtACC" /></td>
                            <td>ACCOUNT TYPE:</td>
                            <td><input type="text" class="form-control" id="txtACCTP" /></td>
                        </tr>
                        <tr>
                            <td>PAID TO / FOR:</td>
                            <td><input type="text" class="form-control" id="txtPARTY" /></td>
                            <td>PAYMENT TYPE:</td>
                            <td><input type="text" class="form-control" id="txtPTYPE" /></td>
                        </tr>
                        <tr>
                            <td>AMOUNT:</td>
                            <td><input type="number" step="any" class="form-control" id="txtAMT" /></td>
                            <td>REMARKS:</td>
                            <td><input type="text" class="form-control" id="txtREM" /></td>
                        </tr>
                        <tr><td colspan="4"><input type="button" class="btn btn-success" id="btnPMT" value="Save" /></td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $("#lblPMT").click(function () {
            $("#ADD_PMT").show();
        });
    });
</script>



